<%= form_for @product, remote: true, html: { style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :product_subgroup_id %>
        <%= f.text_field :product_subgroup_id %>
      </div>

      <div class="field">
        <%= f.label :cost_price %>
        <%= f.text_field :cost_price %>
      </div>

      <div class="field">
        <%= f.label :sale_price %>
        <%= f.text_field :sale_price %>
      </div>


      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
      </div>
    </div>
<% end %>

